.cl1 {
  background-color: violet;
  border-radius: 50%;
  color: white;
}
.cl2 {
  background-color: rgb(231, 143, 92);
  border-radius: 50%;
  color: white;
}
.cl3 {
  background-color: rgb(153, 87, 240);
  border-radius: 40%;
  color: white;
}
.cl4 {
  background-color: rgb(245, 182, 87);
  border-radius: 50%;
  color: white;
}
