/* .icn {
  width: 200px;
  height: 60px;
  margin: 40px;
} */
/* .icn:active {
  color: white;
} */
/* .offers :hover {
  color: green;
}
.icons ul li {
  margin-left: 6%;
  list-style: none;
}
.icons ul .icon-2 {
  margin-left: 2%;
}
.icons ul .icon-3 {
  margin-left: 6%;
}
.icons ul .icon-4 {
  margin-left: 6%;
}
.icons ul .icon-5 {
  margin-right: 6%;
} */
